# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
.DS_Store
/book-manager-admin/node_modules/
/book-manager-admin/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config/index.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
